
<div class="contactanos">
  <nav aria-label="ruta de navegación">
    <ol class="seccion breadcrumb">
      <li class="breadcrumb-item"><a href="/">Inicio</a></li>
      <li class="breadcrumb-item active text-white aria-current=" page>Contactanos</li>
    </ol>
  </nav>
  <hr />
  <div class="main-content-wrapper">

    <!-- --- Columna Izquierda: Contiene la imagen del logo --- */ -->
    <div class="logo-column">
      <!-- --- Imagen del logo de los desarrolladores --- */ -->
      <img src="../../../assets/plugins/imagenes/logo/logo desarrolladores.png" alt="Logo Desarrolladores FerreGestionSys" class="logo_orva">
    </div>

    <!-- --- Columna Derecha: Contiene el formulario de contacto --- */ -->
    <div class="contact-container">
      <!-- --- Título principal del formulario --- */ -->
      <h1>CONTÁCTANOS</h1>
      <!-- --- Inicio del formulario de contacto --- */ -->
      <form>
        <!-- --- Campo: Nombre del usuario --- */ -->
        <label for="nombre_usuario">Nombre</label>
        <input type="text" id="nombre_usuario" name="nombre_usuario" placeholder="Tu nombre" required>

        <!-- --- Campo: Nombre de la ferretería --- */ -->
        <label for="nombre_ferreteria">Nombre de la ferretería</label>
        <input type="text" id="nombre_ferreteria" name="nombre_ferreteria" placeholder="Ferretería que utiliza el sistema" required>

        <!-- --- Campo: Cargo del usuario --- */ -->
        <label for="cargo_usuario">Cargo</label>
        <input type="text" id="cargo_usuario" name="cargo_usuario" placeholder="Cargo" required>

        <!-- --- Campo: Correo electrónico --- */ -->
        <label for="email">Correo electrónico</label>
        <input type="email" id="email" name="email" placeholder="tucorreo@ejemplo.com" required>

        <!-- --- Campo: Mensaje --- */ -->
        <label for="mensaje">Mensaje</label>
        <textarea id="mensaje" name="mensaje" placeholder="Escribe tu mensaje aquí..." required></textarea>

        <!-- --- Botón para enviar el formulario --- */ -->
        <button type="submit">Enviar mensaje</button>
      </form>
       <!-- --- Fin del formulario --- */ -->
    </div>
    <!-- --- Fin de la columna del formulario --- */ -->

  </div> <!-- --- Fin del contenedor principal (wrapper) --- */ -->


</div>
  <!-- --- Contenedor principal que usa Flexbox para organizar el contenido en columnas (logo y formulario) --- */ -->
 