<nav aria-label="ruta de navegación">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Pedido</li>
  </ol>
</nav>

<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-12 text-center color-primary">
      <h4 class="text-center fw-bold display-4">PEDIDOS</h4>
      <hr />
    </div>
  </div>

  <div class="container text-center">
    <button class="btn btn-outline-primary btn-lg" (click)="insertar()">
      <i class="bi bi-plus-circle"></i> Insertar Pedido
    </button>
  </div>
  <hr />
  <div class="container-fluid" id="tabla">
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>N_pedido</th>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Descripcion</th>
            <th>Total</th>
            <th>vendedor</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ventas">
            <td style="color: darkslateblue; font-weight: bold">
              0{{ item.id_ventas }}
            </td>
            <td>{{ item.Fecha }}</td>
            <td>{{ item.ident_cliente }}</td>
            <td>
              {{ item.Descripcion }}
              <input
                type="button"
                value="ver pedido"
                class="btn btn-sm btn-outline-success btn-sm"
                data-bs-toggle="modal"
                data-bs-target="#verpedido"
                (click)="mostrar_modal(1, item.id_ventas)"
              />
            </td>
            <td>{{ item.Total | currency }}</td>
            <td>{{ item.Vendedor }}</td>
            <td class="text-center">
              <span class="" style="color: blue; cursor: pointer" title="Editar"
                ><i class="bi bi-clipboard-check me-3"></i
              ></span>
              <span
                style="color: rgb(32, 168, 5); cursor: pointer"
                title="Anular"
                ><i class="bi bi-trash me-3"></i
              ></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->

<div
  class="modal fade"
  id="verpedido"
  tabindex="-1"
  aria-labelledby="verpedido"
  aria-hidden="true"
  *ngIf="modal == true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="verpedido">Productos</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-center">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>N° Pedido</th>
              <th>Producto</th>
              <th>Cantidad</th>
              <th>Precio Unit.</th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of productos">
              <td>0{{ item[0] }}</td>
              <td>{{ item[1] }}</td>
              <td>{{ item[2] }}</td>
              <td>{{ item[3] | currency }}</td>
              <td>{{ item[4] | currency }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="mostrar_modal(0, 0)"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
<style></style>
