<div
  class="container-fluid"
  style="
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../../assets/plugins/imagenes/logo/fondo\ login.png)
      no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
  "
>
  <form
    class="login-form text-center needs-validation"
    id="login-form"
    name="login-form"
    style="
      background-color: rgb(78, 78, 140);
      border-radius: 20px;
      padding: 30px;
      width: 90%;
      max-width: 500px;
      margin: 20px auto;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border: 1px solid #ccc;
    "
  >
    
    <div class="login-container text-center">
      <h1 class="text-center fw-bold text-white mb-4" style="font-size: calc(1.8rem + 1.5vw);">FerreGestionSys</h1>
      <div class="logo text-center">
        <img
          src="../../../assets/plugins/imagenes/logo/Logo.png"
          alt="Logo"
          class="img-fluid"
          style="
            max-width: min(180px, 80%);
            height: auto;
            border-radius: 20px;
            margin: 20px auto;
          "
        />
      </div>
      <div class="mb-4">
        <label
          for="username"
          class="form-label text-white fw-bold mb-3"
          style="font-size: calc(1rem + 0.5vw)"
          >Datos de acceso</label
        >
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-user"></i></span>
          <input
            type="email"
            class="form-control"
            id="username"
            placeholder="Ingrese su correo electrónico"
            [(ngModel)]="Correo"
            name="Correo"
            #emailInput
          />
        </div>
      </div>
    </div>
    <div class="mb-4">
      <div class="input-group">
        <span class="input-group-text"><i class="fas fa-lock"></i></span>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Ingrese su contraseña"
          [(ngModel)]="clave"
          name="clave"
          #passwordInput
        />
        <span class="input-group-text" id="togglePassword">
          <i class="fas fa-eye" title="Mostrar contraseña"></i>
        </span>
      </div>
    </div>

    <div class="col-12" *ngIf="error === true"></div>
    <hr class="my-4" />
    <button
      type="button"
      class="btn btn-primary w-100 py-2"
      value="Iniciar Sesión"
      (click)="consulta('')"
    >
      <i class="fas fa-sign-in-alt me-2"></i>
      Iniciar Sesión
    </button>
    <hr class="my-4" />
    <div class="text-white">
      <small><i>Copyright © 2025 FerreGestionSys</i></small>
    </div>
  </form>
</div>
