<nav aria-label="ruta de navegación">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Compras</li>
  </ol>
</nav>
<hr />

<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-12 text-center color-primary">
      <h4 class="text-center fw-bold display-4">COMPRAS</h4>
      <hr />
    </div>
  </div>

  <div class="container text-center">
    <button
      class="btn btn-outline-primary btn-lg"
      (click)="mostrar_formulario('ver')"
    >
      <i class="bi bi-plus-circle"></i> Insertar Datos
    </button>
  </div>
  <hr />
  <!-- Formulario de ingreso de datos -->
  <div id="formulario" *ngIf="mostrar == true">
    <div class="row">
      <div class="col-lg-4">
        <label for="unidades" class="form-label">Unidades</label>
        <input
          type="number"
          class="form-control"
          placeholder="Unidades"
          [(ngModel)]="obj_compras.Unidades"
        />
        <span style="color: red" *ngIf="validar_Unidades == false"
          >Insertar unidades</span
        >
      </div>
      <div class="col-lg-4">
        <label for="valor_compra" class="form-label">Valor compra</label>
        <input
          type="number"
          class="form-control"
          placeholder="Valor de la compra"
          [(ngModel)]="obj_compras.Valor_compra"
        />
        <span style="color: red" *ngIf="validar_Proveedor == false"
          >Insertar valor compra</span
        >
      </div>
      <div class="col-lg-4">
        <label for="proveedor" class="form-label">Proveedor</label>
        <input
          type="text"
          class="form-control"
          placeholder="Nombre del Proveedor"
          [(ngModel)]="obj_compras.Proveedor"
        />
        <span style="color: red" *ngIf="validar_Proveedor == false"
          >Insertar proveedor</span
        >
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <label for="producto" class="form-label">Pruducto</label>
        <input
          type="text"
          class="form-control"
          placeholder="Producto"
          [(ngModel)]="obj_compras.Producto"
        />
        <span style="color: red" *ngIf="validar_Producto == false"
          >Insertar producto</span
        >
      </div>
      <div class="col-lg-4">
        <label for="referencia" class="form-label">Referencia</label>
        <input
          type="text"
          class="form-control"
          placeholder="Referencia del producto"
          [(ngModel)]="obj_compras.Referencia"
        />
        <span style="color: red" *ngIf="validar_Referencia == false"
          >Insertar referencia</span
        >
      </div>
    </div>
    <hr />
    <!-- botones -->
    <div class="container mt-3">
      <div class="row g-3 justify-content-center align-items-center">
        <!--  boton insertar -->
        <div class="col-12 col-md-4">
          <button
            type="button"
            class="btn btn-outline-primary w-100 d-flex align-items-center justify-content-center gap-2"
            value="Insertar"
            (click)="validar('guardar')"
            *ngIf="botones_formulario == false"
          >
            <i class="bi bi-plus-circle me-1"></i>
            Guardar
          </button>
        </div>
        <!--  boton editar -->
        <div class="col-12 col-md-4">
          <button
            type="button"
            class="btn btn-outline-success w-100 d-flex align-items-center justify-content-center gap-2"
            value="editar"
            (click)="validar('editar')"
            *ngIf="botones_formulario == true"
          >
            <i class="bi bi-plus-edit me-1"></i>
            Editar
          </button>
        </div>
        <!--  boton cancelar -->
        <div class="col-12 col-md-4">
          <button
            type="button"
            class="btn btn-outline-secondary w-100 d-flex align-items-center justify-content-center gap-2"
            value="Cancelar"
            (click)="mostrar_formulario('no ver')"
          >
            <i class="bi bi-x-circle me-1"></i>
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" id="tabla">
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Unidades</th>
            <th>Valor_compra</th>
            <th>Proveedor</th>
            <th>Producto</th>
            <th>Referencia</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of compras">
            <td>{{ item.Unidades }}</td>
            <td>{{ item.Valor_compra | currency }}</td>
            <td>{{ item.Proveedor }}</td>
            <td>{{ item.Producto }}</td>
            <td>{{ item.Referencia }}</td>
            <td class="text-center">
              <span
                class="bi bi-pencil me-3"
                style="color: blue; cursor: pointer"
                title="Editar"
                (click)="cargar_datos(item, item.id_compras)"
              ></span>
              <span
                class="bi bi-trash me-3"
                style="color: red; cursor: pointer"
                title="Eliminar"
                (click)="eliminar(item.id_compras)"
              ></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
