<!-- --- Cabecera principal que contiene el título de la sección --- */ -->
<div class="container">

    <div class="admin-container">
        <!-- --- Cabecera principal que contiene el título de la sección --- -->
        <header class="admin-header">
            <!-- --- Título principal de la página de Administración --- -->
            <h1>ADMINISTRACIÓN</h1>
        </header>

        <!-- --- Contenedor que utiliza CSS Grid para organizar las tarjetas de opciones --- -->
        <div class="admin-grid">
            <!-- --- Tarjeta de presentación con el logo y nombre del sistema --- -->
            <div class="admin-card logo-card">
                <!-- --- Contenedor para el icono principal del logo --- -->
                <div class="icon-container">
                    <i class="fas fa-wrench"></i>
                </div>
                <!-- --- Contenedor para el texto dentro de la tarjeta del logo --- -->
                <div class="card-text" routerLink="/">
                    <h2>DASHBOARD</h2>
                    <h2>FERREGESTIONSYS</h2>
                    <p>SOFTWARE DE GESTIÓN</p>
                </div>
            </div>

            <!-- --- Tarjeta para acceder a la gestión de Sedes --- -->
            <div class="admin-card " routerLink="/gestion-de-sedes">
                <!-- --- Contenedor para el icono de Sedes --- -->
                <div class="icon-container">
                    <i class="fas fa-building"></i>
                </div>
                <h3>Gestión de Sedes</h3>
            </div>

            <!-- --- Tarjeta para acceder a la gestión de Usuarios --- -->
            <div class="admin-card" routerLink="/usuarios">
                <!-- --- Contenedor para el icono de Usuarios --- -->
                <div class="icon-container">
                    <i class="fas fa-users"></i>
                </div>
                <h3>Gestión de Usuarios</h3>
            </div>

            <!-- --- Tarjeta para acceder a las configuraciones de Seguridad --- -->
            <div class="admin-card" routerLink="/configuracion-seguridad">
                <!-- --- Contenedor para el icono de Seguridad --- -->
                <div class="icon-container">
                    <i class="fas fa-lock"></i>
                </div>
                <h3>Configuraciones de Seguridad</h3>
            </div>

            <!-- --- Tarjeta ancha para acceder a la configuración general del sistema --- -->
            <div class="admin-card wide-card" routerLink="/configuracion-general">
                <!-- --- Contenedor para el icono de Configuración General --- -->
                <div class="icon-container">
                    <i class="fas fa-cog"></i>
                </div>
                <h3>Configuración general de la empresa</h3>
            </div>
        </div>
    </div>
</div>
