<nav class="nav d-flex justify-content-between align-items-center flex-wrap">
   <!-- Contenedor izquierdo -->

   <div class="nav-left d-flex" aria-label="Menú">
    <button class="theme-toggle" id="themeToggle" aria-label="Cambiar tema">
      <i class="bi bi-sun-fill" id="themeIcon" aria-hidden="true" title="Cambiar tema"></i>
    </button>
    <button class="btn" id="toggleBtn" aria-label="menú">
      <i class="bi bi-list" aria-hidden="true" title="menú"></i>
    </button>
    <li class="nav-item"> Bienvenido {{Nombre}}</li>
  </div>

  <!-- Contenedor central -->

  <div class="nav-center d-flex flex-wrap" aria-label="FerreGestionSys">
    <h1 class="logo fw-bold text-center">FerreGestionSys</h1>
    <div class="search-container d-flex">
      <input
        class="search-input"
        type="text"
        placeholder="Buscar..."
        id="searchInput"
        aria-label="Buscar">
      
      <button class="search-btn" aria-label="Buscar">
        <i class="bi bi-search" aria-hidden="true" title="Buscar"></i>
      </button>
    </div>
  </div>

  <!-- Contenedor derecho -->
  <div class="nav-right d-flex align-items-right" >
   
    <button class="btn me-2" id="logoutBtn" aria-label="Cerrar sesión">
      <i class="bi bi-box-arrow-right" aria-hidden="true" title="Cerrar sesión" (click)="cerrar()" ></i>
    </button>
  </div>

</nav> 
