ul {
  max-height: 600px; // Adjust the height as needed
  overflow-y: auto; // Enable vertical scrolling
}
ul {
  padding: 0;
  margin: 0;
  border: 2px solid #010b15;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;

  li {
    margin-bottom: 10px;

    a {
      display: block;
      width: 100%;
      padding: 10px 15px;
      background-color: #ffffff;
      border: 2px solid #011121;
      color: #090000;
      font-weight: bold;
      border-radius: 24px;
      cursor: pointer;
      transition: all 0.3s ease;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

      &:hover {
        background-color: #0f1237;
        color: rgb(226, 238, 238);
        transform: translateX(5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border: 2px solid #007bff;
        text-decoration: none;
        font-weight: bold;

      }
      
    }
  }
}

.navbar {
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #0f1237;
  
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-link {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .nav-link {
    margin: 0.5rem 0;
  }
}

lu li i {
  margin-right: 10px;
  color: #007bff;
  font-size: 18px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 768px) {
  ul {
    padding: 0;
    margin: 0;
    border: 1px solid #010b15;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
    max-height: 600px; // Adjust the height as needed
    max-width: 20px;
    overflow-y: auto; // Enable vertical scrolling
    li {
      margin-bottom: 10px;
      font-size: 12px;
      h3 {
        font-size: 9px;
        margin: 0;
        padding: 0;
        color: #007bff;
      }
      i {
        margin-right: 3px;
        font-size: 12px;

      }
      a {
        display: block;
        width: 100%;
        padding: 5px 10px;
        background-color: #ffffff;
        border: 2px solid #011121;
        color: #090000;
        font-weight: bold;
      }
    }
  }
}