<!-- Sidebar -->
<aside class="sidebar " id="sidebar" >
  <div class="logo-container">
    <img
      src="../../../assets/plugins/imagenes/logo/Logo.png"
      class="img-fluid"
      alt="Logo"
    />
  </div>
  <hr />
  <div class="profile">
    <div class="info" style="color: blue; text-align: center">
      <h3 class="d-block"> {{Nombre}}</h3>
    </div>
  </div> 
  <ul class="list-unstyled mt-4">
    <li class="nav-item">
      <a [routerLink]="['/dashboard']" class="sidebar-link" title="Dashboard">
      <i class="bi bi-house"></i><span class="text">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/administracion']" class="sidebar-link" title="Administración">
        <i class="bi bi-gear"></i><span class="text">Administración</span>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/usuarios']" class="sidebar-link" title="Usuarios">
        <i class="bi bi-person-plus"></i><span class="text">Usuarios</span>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/pedidos']" class="sidebar-link" title="pedidos">
        <i class="bi bi-list-check"></i><span class="text">Pedidos</span>
      </a>
    </li>
    <li class="nav-item" >
      <a [routerLink]="['/empleados']" class="sidebar-link" title="Empleados">
        <i class="bi bi-people"></i><span class="text">Empleados</span>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/contabilidad']" class="sidebar-link" title="Contabilidad">
        <i class="bi bi-cash"></i><span class="text">Contabilidad</span>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/inventario']" class="sidebar-link" title="Inventario">
        <i class="bi bi-archive"></i><span class="text">Inventario</span>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/clientes']" class="sidebar-link" title="Clientes">
        <i class="bi bi-people"></i><span class="text">Clientes</span>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/proveedores']" class="sidebar-link" title="Proveedores">
        <i class="bi bi-truck"></i><span class="text">Proveedores</span>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/compras']" class="sidebar-link" title="Compras">
        <i class="bi bi-cart"></i><span class="text">Compras</span>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/ventas']" class="sidebar-link" title="Ventas">
        <i class="bi bi-basket"></i><span class="text">Ventas</span>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/soporte_tecnico']" class="sidebar-link" title="Soporte Técnico"> 
        <i class="bi bi-tools"></i><span class="text">Soporte Técnico</span>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/configuracion']" class="sidebar-link" title="Configuración">
        <i class="bi bi-toggle-on"></i><span class="text">Configuración</span>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/contactanos']" class="sidebar-link" title="Contáctanos">
        <i class="bi bi-telephone"></i><span class="text">Contáctanos</span>
      </a>
    </li>
  </ul>
</aside>
