<nav aria-label="ruta de navegación">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Proveedores</li>
  </ol>
</nav>

<div class="row g-4 container-fluid mt-4">
  <div class="col-12">
    <h1 class="text-center">Proveedores</h1>
  </div>
  <hr />
  <div class="container text-center">
    <button
      class="btn btn-outline-primary btn-lg"
      (click)="mostrar_formulario('ver')"
    >
      <i class="bi bi-plus-circle"></i> Insertar Datos
    </button>
  </div>
  <hr />
  <div id="formulario" *ngIf="mostrar == true">
    <div class="row">
      <div class="col-lg-4">
        <label for="Nombre" class="form-label">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="Nombre"
          placeholder="Nombre"
          [(ngModel)]="obj_proveedor.Nombre"
        />
        <span style="color: red" *ngIf="validar_Nombre == false"
          >Insertar nombre</span
        >
      </div>
      <div class="col-lg-4">
        <label for="Apellido" class="form-label">Apellido</label>
        <input
          type="text"
          class="form-control"
          id="Apellido"
          placeholder="Apellido"
          [(ngModel)]="obj_proveedor.Apellido"
        />
        <span style="color: red" *ngIf="validar_Apellido == false"
          >Insertar apellido</span
        >
      </div>
      <div class="col-lg-4">
        <label for="Telefono" class="form-label">Telefono</label>
        <input
          type="text"
          class="form-control"
          id="Telefono"
          placeholder="Telefono"
          [(ngModel)]="obj_proveedor.Telefono"
        />
        <span style="color: red" *ngIf="validar_Telefono == false"
          >Insertar telefono</span
        >
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <label for="Correo" class="form-label">Correo</label>
        <input
          type="text"
          class="form-control"
          id="Correo"
          placeholder="Correo"
          [(ngModel)]="obj_proveedor.Correo"
        />
        <span style="color: red" *ngIf="validar_Correo == false"
          >Insertar correo</span
        >
      </div>
      <div class="col-lg-4">
        <label for="Direccion" class="form-label">Direccion</label>
        <input
          type="text"
          class="form-control"
          id="Direccion"
          placeholder="Direccion"
          [(ngModel)]="obj_proveedor.Direccion"
        />
        <span style="color: red" *ngIf="validar_Direccion == false"
          >Insertar direccion</span
        >
      </div>
      <div class="col-lg-4">
        <label for="Nit" class="form-label">Nit</label>
        <input
          type="text"
          class="form-control"
          id="Nit"
          placeholder="Nit"
          [(ngModel)]="obj_proveedor.Nit"
        />
        <span style="color: red" *ngIf="validar_Nit == false"
          >Insertar nit</span
        >
      </div>
    </div>
    <hr />
    <!-- Botones -->
    <div class="container mt-3">
      <div class="row g-3 justify-content-center align-items-center">
        <div class="col-12 col-md-4">
          <button
            type="button"
            class="btn btn-outline-primary w-100 d-flex align-items-center justify-content-center gap-2"
            value="Guardar"
            (click)="validar('guardar')"
            *ngIf="botones_formulario == false"
          >
            <i class="bi bi-plus-circle me-1"></i>
            Guardar
          </button>
        </div>
        <div class="col-12 col-md-4">
          <button
            type="button"
            class="btn btn-outline-primary w-100 d-flex align-items-center justify-content-center gap-2"
            value="Editar"
            (click)="validar('editar')"
            *ngIf="botones_formulario == true"
          >
            <i class="bi bi-plus-circle me-1"></i>
            Editar
          </button>
        </div>
        <div class="col-12 col-md-4">
          <button
            type="button"
            class="btn btn-outline-secondary w-100 d-flex align-items-center justify-content-center gap-2"
            value="Cancelar"
            (click)="mostrar_formulario('no ver')"
          >
            <i class="bi bi-x-circle me-1"></i>
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <!-- Tabla -->
  <div class="container-fluid" id="tabla">
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>Direccion</th>
            <th>Nit</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of proveedor">
            <td>{{ item.Nombre }}</td>
            <td>{{ item.Apellido }}</td>
            <td>{{ item.Telefono }}</td>
            <td>{{ item.Correo }}</td>
            <td>{{ item.Direccion }}</td>
            <td>{{ item.Nit }}</td>
            <td class="text-center">
              <span
                class="bi bi-pencil me-3"
                style="color: blue; cursor: pointer" title="Editar"
                (click)="cargar_datos(item, item.id_proveedor)"
              ></span>
              <span
                class="bi bi-trash me-3"
                style="color: red; cursor: pointer" title="Eliminar"
                (click)="eliminar(item.id_proveedor)"
              ></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
