<nav aria-label="ruta de navegación">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
  </ol>
</nav>

<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-12 text-center color-primary">
      <h4 class="text-center fw-bold display-4">USUARIOS</h4>
      <hr />
    </div>
  </div>
  
  <div class="container text-center">
    <button
      class="btn btn-outline-primary btn-lg" (click)="mostrar_formulario('ver')">
      <i class="bi-plus-circle"></i> Insertar Datos
    </button>
  </div>
  <hr />
  <!-- Formulario -->
  <div id="formulario" *ngIf="mostrar == true">
    <div class="row">
      <div class="col-lg-4">
        <label for="Nombre" class="form-label">Nombre</label>
        <input
          type="text"
          class="form-control"
          placeholder="Nombre"
          [(ngModel)]="obj_usuarios.Nombre"
        />
        <span style="color: red" *ngIf="validar_Nombre == false"
          >Insertar nombre</span
        >
      </div>
      <div class="col-lg-4">
        <label for="Apellido" class="form-label">Apellido</label>
        <input
          type="text"
          class="form-control"
          placeholder="Apellido"
          [(ngModel)]="obj_usuarios.Apellido"
        />
        <span style="color: red" *ngIf="validar_Apellido == false"
          >Insertar apellido</span
        >
      </div>
      <div class="col-lg-4">
        <label for="Telefono" class="form-label">Telefono</label>
        <input
          type="number"
          class="form-control"
          placeholder="Telefono"
          [(ngModel)]="obj_usuarios.Telefono"
        />
        <span style="color: red" *ngIf="validar_Telefono == false"
          >Insertar telefono</span
        >
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <label for="Correo" class="form-label">Correo</label>
        <input
          type="email"
          class="form-control"
          placeholder="Correo"
          [(ngModel)]="obj_usuarios.Correo"
        />
        <span style="color: red" *ngIf="validar_Correo == false"
          >Insertar correo</span
        >
      </div>
      <div class="col-lg-4">
        <label for="Cargo" class="form-label">Cargo</label>
        <input
          type="text"
          class="form-control"
          placeholder="Cargo"
          [(ngModel)]="obj_usuarios.Cargo"
        />
        <span style="color: red" *ngIf="validar_Cargo == false"
          >Insertar Cargo</span
        >
      </div>
      <div class="col-lg-4">
        <label for="Nit" class="form-label">Documento</label>
        <input
          type="number"
          class="form-control"
          placeholder="Documento"
          [(ngModel)]="obj_usuarios.Documento"
        />
        <span style="color: red" *ngIf="validar_Documento == false"
          >Insertar documento</span
        >
      </div>
      <div class="col-lg-4">
        <label for="Nit" class="form-label">Clave</label>
        <input
          type="password"
          class="form-control"
          placeholder="Documento"
          [(ngModel)]="obj_usuarios.clave"
        />
        <span style="color: red" *ngIf="validar_clave == false"
          >Insertar clave</span
        >
      </div>
    </div>
    <hr />
    <!-- Botones -->
    <div class="container mt-3">
      <div class="row g-3 justify-content-center align-items-center">
        <div class="col-12 col-md-4">
          <button
            type="button"
            class="btn btn-outline-primary w-100 d-flex align-items-center justify-content-center gap-2"
            value="Insertar"
            (click)="validar('guardar')"
            *ngIf="botones_formulario == false"
          >
            <i class="bi bi-plus-circle me-1"></i>
            Guardar
          </button>
        </div>
        <div class="col-12 col-md-4">
          <button
            type="button"
            class="btn btn-outline-success w-100 d-flex align-items-center justify-content-center gap-2"
            value="editar"
            (click)="validar('editar')"
            *ngIf="botones_formulario == true"
          >
            <i class="bi bi-pencil-square me-1"></i>
            Editar
          </button>
        </div>
        <div class="col-12 col-md-4">
          <button
            type="button"
            class="btn btn-outline-secondary w-100 d-flex align-items-center justify-content-center gap-2"
            value="Cancelar"
            (click)="mostrar_formulario('no ver')"
          >
            <i class="bi bi-x-circle me-1"></i>
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <!-- Tabla  -->
  <div class="container-fluid" id="tabla">
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>Cargo</th>
            <th>Documento</th>
            <th>Clave</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of usuarios">
            <td>{{ item.Nombre }}</td>
            <td>{{ item.Apellido }}</td>
            <td>{{ item.Telefono }}</td>
            <td>{{ item.Correo }}</td>
            <td>{{ item.Cargo }}</td>
            <td>{{ item.Documento }}</td>
            <td>{{ item.clave }}</td>

            <td class="text-center">
              <span
                class="bi bi-pencil me-3"
                style="color: blue; cursor: pointer"
                title="Editar"
                (click)="cargar_datos(item, item.id_usuarios)"
              ></span>
              <span
                class="bi bi-trash me-3"
                style="color: red; cursor: pointer"
                title="Eliminar"
                (click)="eliminar(item.id_usuarios)"
              ></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
